body {
  color: black;
}

h1 {
  margin: 40px 0px 5px 0px;

  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
}
h4 {
  padding-top: 20px;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

h4::first-letter {
  text-transform: capitalize;
}
p {
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
form {
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Varela Round", sans-serif;
}

button {
  border-radius: 5px;
  padding: 3px;
  margin-left: 0px;
}

button:hover {
  transform: scale(1.2);
}

.all-wrapper {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.container {
  max-width: 600px;
  border-radius: 20px;
  border: 1px solid #2e383f;
  margin-top: 40px;
  margin-bottom: 20px;
  background: linear-gradient(
    109.6deg,
    rgb(151, 213, 255) 11.2%,
    rgb(255, 155, 185) 91.1%
  );

  background-size: cover;
  background-attachment: fixed;
}

.main-info {
  text-align: center;
  margin: 30px;
}

#currentLoc {
  margin-right: 10px;
}

#icon {
  width: 60px;
  height: 60px;
}

#forecast-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
}

#time {
  font-size: small;
  padding-bottom: 25px;
}

#date {
  font-size: 20px;
}
.degrees {
  font-size: 35px;
  font-weight: 900px;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
  margin-bottom: 5px;
}
.min-degrees {
  opacity: 0.7;
}

.details {
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.data {
  font-weight: 700;
}

.days {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  text-align: center;
}

.row {
  margin: 10px 0px 0px 0px;
}
.pin {
  font-size: 25px;
  color: black;
}
