body {
  color: black;
}

h1 {
  margin-top: 40px;
  padding-bottom: 5px;
}

h1,
h2 {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}
h3 {
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}
h4 {
  padding-top: 20px;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

h4::first-letter {
  text-transform: capitalize;
}
p {
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
}
form {
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: "Varela Round", sans-serif;
}

button {
  border-radius: 5px;
  padding: 3px;

  margin-left: 0px;
}

button:hover {
  transform: scale(1.2);
}

.all-wrapper {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.container {
  max-width: 600px;
  border-radius: 20px;
  border: 1px solid #2e383f;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #a6e4e7;
}

.main-info {
  text-align: center;
  margin: 40px;
}

#currentLoc {
  margin-right: 10px;
}

#icon {
  width: 60px;
  height: 60px;
}
.degrees {
  font-size: 35px;
  font-weight: 900px;
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
  margin-bottom: 5px;
}
.min-degrees {
  opacity: 0.7;
}

.details {
  font-family: "Varela Round", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.data {
  font-weight: 700;
}

.days {
  margin-top: 30px;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  text-align: center;
}

.wind,
.cloud-rain,
.cloud-sun-rain,
.cloud-sun,
.sun {
  font-size: 30px;
  padding-top: 10px;
}

.wind {
  color: #8ed6ff;
}

.cloud-rain {
  color: #566683;
}

.cloud-sun-rain {
  color: #afc5ff;
}

.cloud-sun {
  color: #f3cba5;
}

.sun {
  color: #ffc93c;
}
.pin {
  font-size: 25px;
  color: #00204a;
}
